<div class="task-group">

  <div class="task-group__item" ><textarea #txt [(ngModel)]="tasksDetails.name" (ngModelChange)="setHeight()" (click)="setHeight()" ></textarea></div>
  <!-- <div class="task-group__item" [(innerText)]='tasksDetails.name' contenteditable="true"></div> -->
  <div class="task-group__item">{{ tasksDetails.id }}</div>
  <div class="task-group__item">{{ tasksDetails.creation_date | date: 'short' }}</div>
  <div class="task-group__item">{{ tasksDetails.start_date | date: 'short' }}</div>
  <div class="task-group__item">{{ tasksDetails.due_date | date: 'short' }}</div>
  <div class="task-group__item">{{ tasksDetails.physical_progress }}</div>
  <div class="task-group__item">{{ tasksDetails.actual_effort }}</div>
  <div class="task-group__item">{{ tasksDetails.estimated_effort }}</div>
  <div class="task-group__item">{{ tasksDetails.description }}</div>
</div>